body{
  background-color: rgb(238, 239, 220);
}

table,
      tr,
      th,
      td {
         border: 1px solid black;
         border-collapse: collapse;
         padding: 10px 50px;
         text-align: center;
      }
.head-row{
  background-color: rgb(228, 217, 156);
}
/* .first-col{
  background-color: antiquewhite;
}
.second-col{
  background-color: bisque;

}

.third-col{
  background-color: rgb(210, 215, 215);
} */

.data-row{
color: black;
background-color:rgb(223, 220, 217);
transition: 0.5s ease-in-out;
cursor: pointer;
}
.data-row:hover{
  background-color:azure;
  /* transition: 0.5s ease-in-out; */
}